# MIRCO - Kredi Riski Uygulaması

Bu sayfada iki tane uygulamadan bahsedeceğiz. İlk örneğimiz kredi başvuruları, ikincisi ise sahtekarlık tespiti üzerine. Örneklerin daha açıklayıcı olması veri kümelerini ve öznitelik sayısını küçülteceğiz. Kolaylık olması açısından yeni oluşturduğumuz bu veri kümelerini de aynı dizinde bulabilirsiniz.

## Kredi Başvuruları

Bu veriyi ve açıklamasını şu [sayfada](https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29) bulabilirsiniz.

İlk olarak kullanacağımız kütüphaneleri ekleyelim. En son satırda bugün konuştuğumuz yöntem MIRCO'yu görebilirsiniz.

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from MIRCO import MIRCO

Veriyi alalım ve öznitelik isimlerini ekleyelim. En son sütunda tahmin etmeye çalıştığımız etiket var.

In [2]:
df = pd.read_csv('./datasets/german-data-numeric-thin.csv', header = None)
df.columns = ['Mevduat Miktarı', 'Kredi Geçmişi', 'Kredi Miktarı', 'Çalışma Süresi', \
             'Medeni Durumu', 'Yaşı', 'Ev Bilgisi', 'Kredi Kararı']
df.head()

,Mevduat Miktarı,Kredi Geçmişi,Kredi Miktarı,Çalışma Süresi,Medeni Durumu,Yaşı,Ev Bilgisi,Kredi Kararı
0,1,4,5,3,1,1,1,0
1,2,2,1,2,1,1,1,0
2,4,4,1,3,1,2,1,0
3,1,2,1,3,2,2,1,0
4,1,3,1,3,4,2,1,1

Çözüm yöntemlerinde denemek için veriyi, girdi ($X$) ve çıktı ($y$) olarak belirleyelim.

In [3]:
df = np.array(df)
X = df[:, 0:-1]                                                                    
y = df[:, -1]
np.shape(X)

(1000, 7)

## Sahtekarlık Tespiti

Bu veriyi ve açıklamasını şu [sayfada](https://www.kaggle.com/kabure/credit-card-fraud-prediction-rf-smote) bulabilirsiniz. Aşağıda göreceğiniz gibi 1020 örnekten sadece 22'sinde sahtekarlık tespit edilmiş. Yani veri kümesi oldukça dengesiz.

In [4]:
df = np.array(pd.read_csv('./datasets/creditcard-1K.csv', header = None))
X = df[:, 0:-1]                                                                    
y = df[:, -1]
print(np.shape(X))
print('Toplam örnek sayısı: ', len(y))
print('Vaka sayısı: ', len(y[y==1]))

(1020, 30)
Toplam örnek sayısı:  1020
Vaka sayısı:  22

## 'Banknote' Veri Kümesi

Bu farklı banknot resimlerinden elde edilen özniteliklere göre oluşturulmuş. Amaç banknotların gerçek olup olmadıklarını belirlemek.

In [5]:
df = np.array(pd.read_csv('./datasets/data_banknote_authentication.csv', header = None))
X = df[:, 0:-1]                                                                    
y = df[:, -1]
print(np.shape(X))

(1372, 4)